@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-cards {
    width: calc(100%/3 - 20px);
    margin: 10px;
}

.cursor {
    cursor: pointer;
}

.card.cursor.d-flex.justify-content-center.text-bg-dark.mb-3 {
    width: 300px;
}
